snippet tdy; Jan  1, 1900
	`strftime("%b %d, %Y")`
snippet tdyt; Jan  1, 1900 00:00:00
	`strftime("%b %d, %Y %T")`
snippet tdyl; January  1, 1900
	`strftime("%B %d, %Y")`
snippet tdylt; January  1, 1900 00:00:00
	`strftime("%B %d, %Y %T")`
snippet td; 1900.01.01
	`strftime("%Y.%m.%d")`
snippet tdt; 1900.01.01 00:00:00
	`strftime("%Y.%m.%d %T")`
snippet t; 00:00:00
	`strftime("%T")`
