snippet code
	```
	    ${1}
	```
	${2}
# Markdown Image embed
snippet mdimg
	<img src="/Users/dbarrese/${1:somefile}" alt="${2}" style="width:${3:300px}; border:1px solid lightgray;"/>
snippet lb
	liquibase
