# snippets for making snippets :)
snippet s
	snippet ${1:trigger}
		${2}
snippet ss
	snippet ${1:trigger} ${2:description}
		${3}
snippet 1
	$${2}{1${1}}
snippet 2
	$${2}{2${1}}
snippet 3
	$${2}{3${1}}
snippet 4
	$${2}{4${1}}
snippet 5
	$${2}{5${1}}
snippet start
	#non-PLAD snippets #>>
	#<<
	#PLAD snippets #>>
	#<<
