snippet p
	DBMS_OUTPUT.PUT_LINE(${1})
snippet pp
	DBMS_OUTPUT.PUT_LINE('${1}')
snippet ij
	join 
snippet j
	join 
snippet loj
	left outer join
snippet roj
	right outer join
snippet se
	select
snippet ss
	select
	  *
	from
	  
snippet di
	distinct
